<nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <div class="navbar-left pull-xs-left pull-sm-left pull-md-left  pull-lg-left pull-xl-left">
        <div class="dropdown closed">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Menu
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#">Products</a>
                <a class="dropdown-item" href="#">Inspiration Gallery</a>
                <a class="dropdown-item" href="#">Breathe Easy Cabinetry</a>
            </div>
        </div>
    </div>

    <div class="navbar-center pull-xs-none pull-sm-none pull-md-none  pull-lg-none pull-xl-none">
        <div class="muskoka-logo">
            <a href="#">
                <img src="/assets/img/muskoka-logo.png" alt="Muskoka Logo">
            </a>
        </div>
    </div>


    <!-- <div class="navbar-right pull-xs-right pull-sm-right pull-md-right  pull-lg-right pull-xl-right"> -->
    <!--     <a class="navbar-brand" href="#">Right Hand</a> -->
    <!-- </div> -->
</nav>